/SalesDashboard/obj/
/TAGS
/apache-tomcat-6.0.43/conf/context.xml
/apache-tomcat-6.0.43/logs/*
/apache-tomcat-6.0.43/temp/*
/apache-tomcat-6.0.43/webapps/*
/apache-tomcat-6.0.43/work/Catalina/localhost/*
/build.properties
/build/
.bundle/
/datapipeline/**/*_pb2.py
/depcache/
/admin/dist/
/dist/
/eclipse/projects/*/.gitignore
/eclipse/projects/*/.apt_generated/
/eclipse/projects/*/bin/
/eclipse/projects/*/src-gen/
/eclipse/projects/*/src-gen-apt/
/eclipse/projects/src/.antlr-eclipse
.findbugs/
/i18n-data/
/jars-build/
/jetty/webapps/
/keyfile.txt
/logs/
/production/haproxy/nj1.haproxy.test.cfg
/spark/env/
/src/com/yext/**/modules/
!/src/com/yext/goals2/app/**/modules/
!/src/com/yext/goals2/public/**/modules/
/src/com/yext/common/i18n/data/*-data/
/src/com/yext/common/i18n/extraction/DbExtractorGenerated.java
/src/com/yext/resellersapi/app/test/data/customers/country/golden-file*
/src/com/yext/storm/feed/HoursAntlrLexer.java
/src/com/yext/storm/feed/HoursAntlrLexer.smap
/src/com/yext/storm/feed/HoursAntlrParser.java
/src/com/yext/storm/feed/HoursAntlrParser.smap
/src/com/yext/storm/feed/HoursAntlrParserTokenTypes.java
/src/com/yext/storm/feed/HoursAntlrParserTokenTypes.txt
/thirdparty/bing-soap/jars/.*
/tools/zuoraWsdl/target
/vendor/*
/yext-selenium/spec/baseline_screenshots/*.png
/yext-selenium/spec/screenshots/*.png

/gocode/bin/
/gocode/pkg/
/gocode/src/*
!/gocode/src/yext/
/gocode/src/yext/mockgen/*
!/gocode/src/yext/mockgen/mockgen.go

taskprocessing/dist
test-result/
tmp/

.DS_Store
SalesDashboard*suo
page_exceptions.log
spark-django.log
spark-requests.log

zuorasoap-requests.log

/intellij/.idea/workspace.xml
/intellij/.idea/tasks.xml
/intellij/.idea/dictionaries
/intellij/.idea/vcs.xml
/intellij/.idea/jsLibraryMappings.xml
/intellij/.idea/dataSources.ids
/intellij/.idea/dataSources.xml
/intellij/.idea/dataSources.local.xml
/intellij/.idea/sqlDataSources.xml
/intellij/.idea/dynamic.xml
/intellij/.idea/uiDesigner.xml
/intellij/.idea/misc.xml

*.classpath
*.metadata
*.orig
*.project
*.pyc
*.pydevproject
*.recommenders
*.sass-cache
*.settings
*.swp